[Unit]
Description=Gunicorn service to serve Airbnb clone
# Start once network is available
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4

# Start Gunicorn wwith 3 workers, bound to 0.0.0.0:5003
# log errors to /tmp/airbnb-error.log
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log
Restart=always

# redirect all standard output to access.log
StandardOutput=append:/tmp/airbnb-access.log

#redirect all errors to error.log
StandardError=append:/tmp/airbnb-error.log
# identifier for syslog messages
SyslogIdentifier=gunicorn

[Install]
WantedBy=multi-user.target
